// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vectros from "../../../index.js";

export declare namespace ComplianceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Subject-data lifecycle — right-to-erasure and data export (GDPR/CCPA)
 */
export class ComplianceClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ComplianceClient.Options>;

    constructor(options: ComplianceClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Submits a right-to-erasure request for a single end-subject (a user, client, or organization). Erasure removes exactly the data the subject solely owns across the declared contexts, plus the subject's identity and lookup rows. It never touches another account's data and never cascades into another subject's data. The request is asynchronous: it returns 202 with a `requestId`; poll `GET /v1/erasure-requests/{id}` until the job completes to obtain the completion certificate. Requires a root API key — a scoped credential is rejected with 403.
     *
     * @param {Vectros.ErasureRequest} request
     * @param {ComplianceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.TooManyRequestsError}
     * @throws {@link Vectros.NotImplementedError}
     *
     * @example
     *     await client.compliance.createErasureRequest({
     *         subjectType: "user"
     *     })
     */
    public createErasureRequest(
        request: Vectros.ErasureRequest,
        requestOptions?: ComplianceClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ErasureRequestResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createErasureRequest(request, requestOptions));
    }

    private async __createErasureRequest(
        request: Vectros.ErasureRequest,
        requestOptions?: ComplianceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ErasureRequestResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/erasure-requests",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ErasureRequestResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 501:
                    throw new Vectros.NotImplementedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/erasure-requests");
    }

    /**
     * Polls an erasure request by id. While the job is still running this returns its status only; once it completes, the response also includes the verifiable completion certificate (which contexts were swept, per-context deletion counts, and reports of dangling references and shared rows that were left intact). Requires a root API key.
     *
     * @param {Vectros.GetErasureRequestRequest} request
     * @param {ComplianceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.NotImplementedError}
     *
     * @example
     *     await client.compliance.getErasureRequest({
     *         id: "er_550e8400e29b41d4a716446655440000"
     *     })
     */
    public getErasureRequest(
        request: Vectros.GetErasureRequestRequest,
        requestOptions?: ComplianceClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ErasureRequestResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getErasureRequest(request, requestOptions));
    }

    private async __getErasureRequest(
        request: Vectros.GetErasureRequestRequest,
        requestOptions?: ComplianceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ErasureRequestResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/erasure-requests/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ErasureRequestResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 501:
                    throw new Vectros.NotImplementedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/erasure-requests/{id}");
    }

    /**
     * Submits an asynchronous job to export your account's data, or a single end-subject's data, across the requested contexts. The request returns 202 with an `exportJobId`; poll `GET /v1/admin/export/{id}` until the job completes to obtain a short-lived presigned download URL and a manifest describing the payload. Requires a root API key — a scoped credential is rejected with 403.
     *
     * @param {Vectros.ExportRequest} request
     * @param {ComplianceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.TooManyRequestsError}
     * @throws {@link Vectros.NotImplementedError}
     *
     * @example
     *     await client.compliance.createExport()
     */
    public createExport(
        request: Vectros.ExportRequest = {},
        requestOptions?: ComplianceClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ExportRequestResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createExport(request, requestOptions));
    }

    private async __createExport(
        request: Vectros.ExportRequest = {},
        requestOptions?: ComplianceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ExportRequestResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/admin/export",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ExportRequestResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 501:
                    throw new Vectros.NotImplementedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/admin/export");
    }

    /**
     * Polls an export job by id. While the job is still running this returns its status only; once it completes, the response also includes a short-lived presigned download URL and a manifest (format version and per-context counts). Requires a root API key.
     *
     * @param {Vectros.GetExportRequest} request
     * @param {ComplianceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.NotImplementedError}
     *
     * @example
     *     await client.compliance.getExport({
     *         id: "exp_550e8400e29b41d4a716446655440000"
     *     })
     */
    public getExport(
        request: Vectros.GetExportRequest,
        requestOptions?: ComplianceClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ExportRequestResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getExport(request, requestOptions));
    }

    private async __getExport(
        request: Vectros.GetExportRequest,
        requestOptions?: ComplianceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ExportRequestResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/admin/export/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ExportRequestResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 501:
                    throw new Vectros.NotImplementedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/admin/export/{id}");
    }
}
