// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vectros from "../../../index.js";

export declare namespace AuthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * API key validation and scoped token minting
 */
export class AuthClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuthClient.Options>;

    constructor(options: AuthClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the platform's JWT signing public key in RFC 7517 JWKS format. Use it with any JWKS-aware JWT library to verify `inv_*` invite tokens, `st_*` scoped tokens, and other platform-signed tokens locally, without calling back to the API for each verification. The response carries a one-hour `Cache-Control`, so cache it and re-fetch roughly hourly rather than on every verification. The `kid` value changes when the key rotates; re-fetch this document whenever you encounter a token signed with an unknown `kid`.
     *
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.InternalServerError}
     *
     * @example
     *     await client.auth.getJwks()
     */
    public getJwks(requestOptions?: AuthClient.RequestOptions): core.HttpResponsePromise<Vectros.JwksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getJwks(requestOptions));
    }

    private async __getJwks(
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.JwksResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/auth/jwks",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.JwksResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new Vectros.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/auth/jwks");
    }

    /**
     * Returns a page of per-subject PHI read-access rows: who read which subject's PHI, when, against which record, and whether any sensitive value was actually revealed in plaintext. Metadata only — never the PHI itself. This is the disclosure-accounting surface from which a covered entity derives its HIPAA §164.528 accounting of disclosures. Provide at least one query axis: a subject (`subjectType` + `subjectId`) within a `contextId` for the primary accounting query; `resourceId` within a `contextId` for 'who read this record'; `callerKeyId` for 'what did this credential read' (account-wide forensic); or `contextId` alone to enumerate a whole context. `from`/`to` bound the time window. Results are scoped to your account, derived from your token — never from input. Requires the `access-log:r` scope.
     *
     * @param {Vectros.GetAccessLogRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     *
     * @example
     *     await client.auth.getAccessLog({
     *         subjectType: "user",
     *         subjectId: "user_abc123",
     *         contextId: "ctx_intake",
     *         action: "read",
     *         callerKeyId: "key_abc123",
     *         resourceType: "intake_form",
     *         resourceId: "rec_456"
     *     })
     */
    public getAccessLog(
        request: Vectros.GetAccessLogRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ReadAccessLogPage> {
        return core.HttpResponsePromise.fromPromise(this.__getAccessLog(request, requestOptions));
    }

    private async __getAccessLog(
        request: Vectros.GetAccessLogRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ReadAccessLogPage>> {
        const {
            subjectType,
            subjectId,
            contextId,
            from: from_,
            to,
            action,
            callerKeyId,
            resourceType,
            resourceId,
            revealedSensitive,
            startFrom,
            limit,
        } = request;
        const _queryParams: Record<string, unknown> = {
            subjectType,
            subjectId,
            contextId,
            from: from_,
            to,
            action,
            callerKeyId,
            resourceType,
            resourceId,
            revealedSensitive,
            startFrom,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/admin/access-log",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ReadAccessLogPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/admin/access-log");
    }

    /**
     * Lists your scoped API keys (`ssk_*`) in your credential's own environment — a live key lists live keys, a test key lists test keys. Revoked keys are excluded. Requires the `keys:r` scope.
     *
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     *
     * @example
     *     await client.auth.listScopedKeys()
     */
    public listScopedKeys(requestOptions?: AuthClient.RequestOptions): core.HttpResponsePromise<Vectros.ScopedKeyPage> {
        return core.HttpResponsePromise.fromPromise(this.__listScopedKeys(requestOptions));
    }

    private async __listScopedKeys(
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ScopedKeyPage>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/admin/keys/scoped",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ScopedKeyPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/admin/keys/scoped");
    }

    /**
     * Creates a scoped API key (an `ssk_*` secret) that inherits its permissions from an existing access profile in your account. The call is idempotent on the combination of tenant, context, user, and key name: re-issuing the same request returns the existing key WITHOUT re-disclosing its raw secret. The raw key is returned ONLY in this response — store it securely, as it cannot be retrieved again. Requires the `keys:c` scope. If you use a scoped credential, `keys:c` alone is not sufficient: because the minted key is durably bound to the profile you name, the profile's effective scopes may not exceed your own, and you may only mint against a profile whose `identityOverrides` values your own identity holds. Minting a key bound to your OWN principal needs nothing further; minting one bound to a DIFFERENT principal additionally requires the `delegate-mint` capability (`granted_capabilities`) on your credential — without it the request is refused. A root API key (`sk_`) is exempt from all three bounds.
     *
     * @param {Vectros.CreateScopedKeyRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.auth.createScopedKey({
     *         keyName: "research-bot production",
     *         tenantId: "ten_live_xxx",
     *         contextId: "myapp",
     *         userId: "alice-001"
     *     })
     */
    public createScopedKey(
        request: Vectros.CreateScopedKeyRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ScopedKeyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createScopedKey(request, requestOptions));
    }

    private async __createScopedKey(
        request: Vectros.CreateScopedKeyRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ScopedKeyResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/admin/keys/scoped",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ScopedKeyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/admin/keys/scoped");
    }

    /**
     * Returns the metadata for a single scoped API key. The raw secret is NOT included — it is only ever returned once, when the key is first created. Requires the `keys:r` scope.
     *
     * @param {Vectros.GetScopedKeyRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.auth.getScopedKey({
     *         keyId: "keyId"
     *     })
     */
    public getScopedKey(
        request: Vectros.GetScopedKeyRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ScopedKeyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getScopedKey(request, requestOptions));
    }

    private async __getScopedKey(
        request: Vectros.GetScopedKeyRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ScopedKeyResponse>> {
        const { keyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/admin/keys/scoped/${core.url.encodePathParam(keyId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ScopedKeyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/admin/keys/scoped/{keyId}");
    }

    /**
     * Revokes a scoped API key. Its status changes to `revoked` and it stops working within about 5 minutes, the maximum time authorization is cached. Revocation is permanent. Requires the `keys:d` scope.
     *
     * @param {Vectros.RevokeScopedKeyRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.auth.revokeScopedKey({
     *         keyId: "keyId"
     *     })
     */
    public revokeScopedKey(
        request: Vectros.RevokeScopedKeyRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__revokeScopedKey(request, requestOptions));
    }

    private async __revokeScopedKey(
        request: Vectros.RevokeScopedKeyRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { keyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/admin/keys/scoped/${core.url.encodePathParam(keyId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/admin/keys/scoped/{keyId}",
        );
    }

    /**
     * Returns recent API call logs for your account. Each entry represents one API request; request and response bodies are never logged. `startTime` and `endTime` must be ISO-8601 UTC (e.g. `2025-01-15T09:00:00Z`); `endTime` defaults to now. Filter by resource, method, key id, or context id, or set `errorsOnly` to see only failures. Results are scoped to your account, derived from your token — never from input. Requires the `logs:r` scope.
     *
     * @param {Vectros.GetAdminLogsRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     *
     * @example
     *     await client.auth.getAdminLogs({
     *         startTime: "startTime",
     *         resource: "documents",
     *         method: "POST",
     *         keyId: "key_abc123",
     *         contextId: "ctx_intake"
     *     })
     */
    public getAdminLogs(
        request: Vectros.GetAdminLogsRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.AdminLogsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAdminLogs(request, requestOptions));
    }

    private async __getAdminLogs(
        request: Vectros.GetAdminLogsRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.AdminLogsResponse>> {
        const { startTime, endTime, resource, method, keyId, contextId, errorsOnly, limit } = request;
        const _queryParams: Record<string, unknown> = {
            startTime,
            endTime,
            resource,
            method,
            keyId,
            contextId,
            errorsOnly,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/admin/logs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.AdminLogsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/admin/logs");
    }

    /**
     * Returns the access profiles assigned within the given app context — in effect, who has access to this context and with what scopes. Each profile binds a principal to either a set of inline scopes or a referenced role. Results are paginated. Requires the `profiles:r` scope.
     *
     * @param {Vectros.ListAccessProfilesRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.auth.listAccessProfiles({
     *         contextId: "myapp"
     *     })
     */
    public listAccessProfiles(
        request: Vectros.ListAccessProfilesRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.AccessProfilePage> {
        return core.HttpResponsePromise.fromPromise(this.__listAccessProfiles(request, requestOptions));
    }

    private async __listAccessProfiles(
        request: Vectros.ListAccessProfilesRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.AccessProfilePage>> {
        const { contextId, startFrom, limit } = request;
        const _queryParams: Record<string, unknown> = {
            startFrom,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/profiles`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.AccessProfilePage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/app-contexts/{contextId}/profiles",
        );
    }

    /**
     * Creates a new access profile under the given app context. This call is idempotent by `principalId`: if a profile with the same `principalId` already exists, the existing profile is returned (with status 200) instead of creating a duplicate. The response's `created` field (and the HTTP status — 201 when created, 200 when an existing profile was returned) tells the two apart. To overwrite an existing profile's `scopes`/`roleId`, `identityOverrides`, and `status` instead of returning it unchanged, set `?upsert=true` (this also requires the `profiles:u` scope, and applies the same `identityOverrides` bounds the update endpoint documents — a scoped credential may not repoint or clear an identity value it does not itself hold). The `principalId` must name a principal that already exists: a `usr_` principal must be a live user in your tenant, so create the user before granting it a profile. A `usr_` id that names no such user is rejected, and no profile is created. `key_` principals are not checked this way. You must provide exactly one of `scopes` (an inline list of scopes) or `roleId` (a reference to a role); supplying both, or neither, is rejected. `identityOverrides` is keyed by ownership namespace in `scope:<namespace>` form — `scope:org` and `scope:client` for the reserved namespaces, or any namespace you have registered — and may name at most two; any other key (including the account identifier or `userId`) is rejected. If you use a scoped credential, the profile's effective scopes may not exceed your own; a root API key (`sk_`) is exempt. Requires the `profiles:c` scope.
     *
     * @param {Vectros.CreateAccessProfileRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.auth.createAccessProfile({
     *         contextId: "contextId",
     *         body: {
     *             principalId: "usr_6ba7b810-9dad-11d1-80b4-00c04fd430c8"
     *         }
     *     })
     */
    public createAccessProfile(
        request: Vectros.CreateAccessProfileRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.AccessProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createAccessProfile(request, requestOptions));
    }

    private async __createAccessProfile(
        request: Vectros.CreateAccessProfileRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.AccessProfileResponse>> {
        const { contextId, upsert, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            upsert,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/profiles`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.AccessProfileResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/app-contexts/{contextId}/profiles",
        );
    }

    /**
     * Returns a paginated list of the app contexts in your account. Each app context is a namespace that groups the access profiles and roles for one of your applications. Requires the `app-contexts:r` scope.
     *
     * @param {Vectros.ListAppContextsRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     *
     * @example
     *     await client.auth.listAppContexts()
     */
    public listAppContexts(
        request: Vectros.ListAppContextsRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.AppContextPage> {
        return core.HttpResponsePromise.fromPromise(this.__listAppContexts(request, requestOptions));
    }

    private async __listAppContexts(
        request: Vectros.ListAppContextsRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.AppContextPage>> {
        const { startFrom, limit } = request;
        const _queryParams: Record<string, unknown> = {
            startFrom,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/app-contexts",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.AppContextPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/app-contexts");
    }

    /**
     * Creates a new app context. This call is idempotent by `contextId`: if an app context with the same `contextId` already exists, the existing app context is returned (with status 200) instead of creating a duplicate. The response's `created` field (and the HTTP status — 201 when created, 200 when an existing context was returned) tells the two apart. To overwrite an existing context's `name`/`description` instead of returning it unchanged, set `?upsert=true` (this also requires the `app-contexts:u` scope). The reserved `contextId` value `vectros-admin` cannot be created through this endpoint; it is provisioned automatically for your account. Requires the `app-contexts:c` scope.
     *
     * @param {Vectros.CreateAppContextRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.auth.createAppContext({
     *         body: {
     *             contextId: "myapp",
     *             name: "My Internal App"
     *         }
     *     })
     */
    public createAppContext(
        request: Vectros.CreateAppContextRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.AppContextResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createAppContext(request, requestOptions));
    }

    private async __createAppContext(
        request: Vectros.CreateAppContextRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.AppContextResponse>> {
        const { upsert, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            upsert,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/app-contexts",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.AppContextResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/app-contexts");
    }

    /**
     * Returns the roles defined under the given app context. A role is a reusable, named bundle of scopes that access profiles can reference instead of listing scopes inline. Results are paginated. Requires the `profiles:r` scope.
     *
     * @param {Vectros.ListRolesRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.auth.listRoles({
     *         contextId: "myapp"
     *     })
     */
    public listRoles(
        request: Vectros.ListRolesRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.RolePage> {
        return core.HttpResponsePromise.fromPromise(this.__listRoles(request, requestOptions));
    }

    private async __listRoles(
        request: Vectros.ListRolesRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.RolePage>> {
        const { contextId, startFrom, limit } = request;
        const _queryParams: Record<string, unknown> = {
            startFrom,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/roles`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.RolePage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/app-contexts/{contextId}/roles",
        );
    }

    /**
     * Creates a new role under the given app context. This call is idempotent by `roleId`: if a role with the same `roleId` already exists, the existing role is returned (with status 200) instead of creating a duplicate. The response's `created` field (and the HTTP status — 201 when created, 200 when an existing role was returned) tells the two apart. To overwrite an existing role's `name`/`description`/`scopes` instead of returning it unchanged, set `?upsert=true` (this also requires the `profiles:u` scope). If you use a scoped credential, the role's scopes may not exceed your own; a root API key (`sk_`) is exempt. Requires the `profiles:c` scope.
     *
     * @param {Vectros.CreateRoleRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.auth.createRole({
     *         contextId: "contextId",
     *         body: {
     *             roleId: "engineering-member",
     *             name: "Engineering Team Member",
     *             scopes: [{
     *                     allowed_actions: ["records:cru", "search:r"]
     *                 }]
     *         }
     *     })
     */
    public createRole(
        request: Vectros.CreateRoleRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.RoleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createRole(request, requestOptions));
    }

    private async __createRole(
        request: Vectros.CreateRoleRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.RoleResponse>> {
        const { contextId, upsert, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            upsert,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/roles`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.RoleResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/app-contexts/{contextId}/roles",
        );
    }

    /**
     * Returns a single access profile by its `principalId` within the given app context. Requires the `profiles:r` scope.
     *
     * @param {Vectros.GetAccessProfileRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.auth.getAccessProfile({
     *         contextId: "contextId",
     *         principalId: "principalId"
     *     })
     */
    public getAccessProfile(
        request: Vectros.GetAccessProfileRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.AccessProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAccessProfile(request, requestOptions));
    }

    private async __getAccessProfile(
        request: Vectros.GetAccessProfileRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.AccessProfileResponse>> {
        const { contextId, principalId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/profiles/${core.url.encodePathParam(principalId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.AccessProfileResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/app-contexts/{contextId}/profiles/{principalId}",
        );
    }

    /**
     * Updates an access profile. This is a partial update: any field you omit (or send as null) keeps its existing value. A profile must reference either inline `scopes` or a `roleId`, never both — so setting `scopes` clears any `roleId`, and setting `roleId` clears any inline `scopes`. The `contextId` and `principalId` are immutable. Status changes (for example active to suspended) take effect within about five minutes. If you use a scoped credential, the profile's effective scopes may not exceed your own, and its `identityOverrides` are bounded twice: you may only set a value your own identity holds, and you may only change or clear a value the profile already holds if that value is yours as well. Repointing or clearing another principal's established identity therefore returns 403. A root API key (`sk_`) is exempt. If you set `roleId`, it must reference a role that already exists in this context. Requires the `profiles:u` scope.
     *
     * @param {Vectros.UpdateAccessProfileRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.auth.updateAccessProfile({
     *         contextId: "contextId",
     *         principalId: "principalId",
     *         body: {
     *             principalId: "usr_6ba7b810-9dad-11d1-80b4-00c04fd430c8"
     *         }
     *     })
     */
    public updateAccessProfile(
        request: Vectros.UpdateAccessProfileRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.AccessProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateAccessProfile(request, requestOptions));
    }

    private async __updateAccessProfile(
        request: Vectros.UpdateAccessProfileRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.AccessProfileResponse>> {
        const { contextId, principalId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/profiles/${core.url.encodePathParam(principalId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.AccessProfileResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v1/app-contexts/{contextId}/profiles/{principalId}",
        );
    }

    /**
     * Deletes an access profile. Within about five minutes (the access-profile cache lifetime), token minting for this principal in this context will be denied. If you use a scoped credential and the profile carries `identityOverrides`, you may only delete it when you hold those values yourself — deleting a profile removes its identity, so the same bound applies as when clearing it. A profile with no `identityOverrides` is unaffected, and a root API key (`sk_`) is exempt. Requires the `profiles:d` scope.
     *
     * @param {Vectros.DeleteAccessProfileRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.auth.deleteAccessProfile({
     *         contextId: "contextId",
     *         principalId: "principalId"
     *     })
     */
    public deleteAccessProfile(
        request: Vectros.DeleteAccessProfileRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteAccessProfile(request, requestOptions));
    }

    private async __deleteAccessProfile(
        request: Vectros.DeleteAccessProfileRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { contextId, principalId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/profiles/${core.url.encodePathParam(principalId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/app-contexts/{contextId}/profiles/{principalId}",
        );
    }

    /**
     * Returns a single app context by its `contextId`. Requires the `app-contexts:r` scope.
     *
     * @param {Vectros.GetAppContextRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.auth.getAppContext({
     *         contextId: "myapp"
     *     })
     */
    public getAppContext(
        request: Vectros.GetAppContextRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.AppContextResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAppContext(request, requestOptions));
    }

    private async __getAppContext(
        request: Vectros.GetAppContextRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.AppContextResponse>> {
        const { contextId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.AppContextResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/app-contexts/{contextId}");
    }

    /**
     * Updates the name and/or description of an app context. This is a partial update: any field you omit (or send as null) keeps its existing value. The `contextId` is immutable and is taken from the URL path, so any `contextId` in the request body is ignored. Requires the `app-contexts:u` scope.
     *
     * @param {Vectros.UpdateAppContextRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.auth.updateAppContext({
     *         contextId: "contextId",
     *         body: {
     *             contextId: "myapp",
     *             name: "My Internal App"
     *         }
     *     })
     */
    public updateAppContext(
        request: Vectros.UpdateAppContextRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.AppContextResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateAppContext(request, requestOptions));
    }

    private async __updateAppContext(
        request: Vectros.UpdateAppContextRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.AppContextResponse>> {
        const { contextId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.AppContextResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/app-contexts/{contextId}");
    }

    /**
     * Permanently deletes an app context and everything in it — every record, document, folder, schema, role, and access profile belonging to the context. This is irreversible. The deletion runs asynchronously: the call returns 202 immediately and the context's data drains in the background. Poll the context's `status` field to observe when the teardown completes (`purging` while draining, then `deleted`). To guard against accidental deletion, you must echo the contextId back in the `confirm` query parameter (`?confirm={contextId}`). The reserved `default` and `vectros-admin` contexts cannot be deleted. This operation requires a root API key (one beginning with `sk_`): no scoped credential, not even one with full wildcard (`*`) scope, can trigger this teardown.
     *
     * @param {Vectros.DeleteAppContextRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.auth.deleteAppContext({
     *         contextId: "contextId"
     *     })
     */
    public deleteAppContext(
        request: Vectros.DeleteAppContextRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteAppContext(request, requestOptions));
    }

    private async __deleteAppContext(
        request: Vectros.DeleteAppContextRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { contextId, confirm } = request;
        const _queryParams: Record<string, unknown> = {
            confirm,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/app-contexts/{contextId}",
        );
    }

    /**
     * Returns a single role by its `roleId` within the given app context. Requires the `profiles:r` scope.
     *
     * @param {Vectros.GetRoleRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.auth.getRole({
     *         contextId: "contextId",
     *         roleId: "roleId"
     *     })
     */
    public getRole(
        request: Vectros.GetRoleRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.RoleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getRole(request, requestOptions));
    }

    private async __getRole(
        request: Vectros.GetRoleRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.RoleResponse>> {
        const { contextId, roleId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/roles/${core.url.encodePathParam(roleId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.RoleResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/app-contexts/{contextId}/roles/{roleId}",
        );
    }

    /**
     * Updates a role. This is a partial update: any field you omit (or send as null) keeps its existing value. The `roleId` and `contextId` are immutable. Scope changes take effect for access profiles that reference this role within about five minutes. If you use a scoped credential, the role's scopes may not exceed your own; a root API key (`sk_`) is exempt. Requires the `profiles:u` scope.
     *
     * @param {Vectros.UpdateRoleRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.auth.updateRole({
     *         contextId: "contextId",
     *         roleId: "roleId",
     *         body: {
     *             roleId: "engineering-member",
     *             name: "Engineering Team Member",
     *             scopes: [{
     *                     allowed_actions: ["records:cru", "search:r"]
     *                 }]
     *         }
     *     })
     */
    public updateRole(
        request: Vectros.UpdateRoleRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.RoleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateRole(request, requestOptions));
    }

    private async __updateRole(
        request: Vectros.UpdateRoleRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.RoleResponse>> {
        const { contextId, roleId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/roles/${core.url.encodePathParam(roleId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.RoleResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v1/app-contexts/{contextId}/roles/{roleId}",
        );
    }

    /**
     * Deletes a role. A role that is still referenced by one or more access profiles cannot be deleted: the request is rejected with 409. Reassign or delete those profiles first, then retry. Requires the `profiles:d` scope.
     *
     * @param {Vectros.DeleteRoleRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.auth.deleteRole({
     *         contextId: "contextId",
     *         roleId: "roleId"
     *     })
     */
    public deleteRole(
        request: Vectros.DeleteRoleRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteRole(request, requestOptions));
    }

    private async __deleteRole(
        request: Vectros.DeleteRoleRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { contextId, roleId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/roles/${core.url.encodePathParam(roleId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/app-contexts/{contextId}/roles/{roleId}",
        );
    }

    /**
     * Returns the audit trail of changes (create, update, and delete events) for an access profile, most recent first. Version history is always recorded for every access profile; there is no setting to turn it off. Results are paginated. Requires the `profiles:r` scope.
     *
     * @param {Vectros.GetAccessProfileVersionsRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.auth.getAccessProfileVersions({
     *         contextId: "contextId",
     *         principalId: "principalId"
     *     })
     */
    public getAccessProfileVersions(
        request: Vectros.GetAccessProfileVersionsRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ModelDataVersionPage> {
        return core.HttpResponsePromise.fromPromise(this.__getAccessProfileVersions(request, requestOptions));
    }

    private async __getAccessProfileVersions(
        request: Vectros.GetAccessProfileVersionsRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ModelDataVersionPage>> {
        const { contextId, principalId, startFrom } = request;
        const _queryParams: Record<string, unknown> = {
            startFrom,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/profiles/${core.url.encodePathParam(principalId)}/versions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ModelDataVersionPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/app-contexts/{contextId}/profiles/{principalId}/versions",
        );
    }

    /**
     * Returns the audit trail of changes (create, update, and delete events) for a role, newest first. Version history is always recorded for every role; there is no setting to turn it off. Results are paginated. Requires the `profiles:r` scope.
     *
     * @param {Vectros.GetRoleVersionsRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.auth.getRoleVersions({
     *         contextId: "myapp",
     *         roleId: "roleId"
     *     })
     */
    public getRoleVersions(
        request: Vectros.GetRoleVersionsRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ModelDataVersionPage> {
        return core.HttpResponsePromise.fromPromise(this.__getRoleVersions(request, requestOptions));
    }

    private async __getRoleVersions(
        request: Vectros.GetRoleVersionsRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ModelDataVersionPage>> {
        const { contextId, roleId, startFrom } = request;
        const _queryParams: Record<string, unknown> = {
            startFrom,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/app-contexts/${core.url.encodePathParam(contextId)}/roles/${core.url.encodePathParam(roleId)}/versions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ModelDataVersionPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/app-contexts/{contextId}/roles/{roleId}/versions",
        );
    }

    /**
     * Returns full usage detail for the requested calendar month, broken down by category (search, documents, and records) with per-category credit estimates and a split between your live and test environments. Defaults to the current month when `year` and `month` are omitted. Requires the `billing:r` scope on scoped tokens; API keys always have access. **A token confined to a single app context sees only that context's usage**: totals, the environment split, and the `contexts` breakdown narrow to it, and the environment your context is not bound to is omitted (`null`), not zeroed. Only a token with cross-context reach sees your full account-wide totals. Two exceptions to the narrowing, since they have no per-context breakdown to narrow to: `reads.calls.used`/`reads.dataOut.bytes` (metered per account, not per context) read as `0` for a confined token rather than a narrowed figure — the corresponding overage-credit charge fields narrow correctly; and `credits.limit` stays your whole plan's ceiling, so `credits.remaining` may overstate the account's true remaining room.
     *
     * @param {Vectros.GetUsageRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     *
     * @example
     *     await client.auth.getUsage({
     *         contextId: "default"
     *     })
     */
    public getUsage(
        request: Vectros.GetUsageRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.UsageReportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getUsage(request, requestOptions));
    }

    private async __getUsage(
        request: Vectros.GetUsageRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.UsageReportResponse>> {
        const { year, month, contextId } = request;
        const _queryParams: Record<string, unknown> = {
            year,
            month,
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/usage",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.UsageReportResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/usage");
    }

    /**
     * Retrieves a single registered issuer by issuerId. Requires a root API key or the bootstrap's provisioning capability. A credential confined to one app context sees only an issuer registered in that context; naming one registered in another context returns 404, identically to a nonexistent issuerId. A root API key sees every context.
     *
     * @param {Vectros.GetIssuerRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.auth.getIssuer({
     *         issuerId: "auth0-prod"
     *     })
     */
    public getIssuer(
        request: Vectros.GetIssuerRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.IssuerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getIssuer(request, requestOptions));
    }

    private async __getIssuer(
        request: Vectros.GetIssuerRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.IssuerResponse>> {
        const { issuerId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/auth/issuers/${core.url.encodePathParam(issuerId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.IssuerResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/auth/issuers/{issuerId}");
    }

    /**
[...]
