// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vectros from "../../../index.js";

export declare namespace TriggersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Declare rules that invoke a script version on a schema record event, asynchronously and under the rule's own grant
 */
export class TriggersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TriggersClient.Options>;

    constructor(options: TriggersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a page of trigger executions that failed — what went wrong, whether the platform will retry it, and which of your records and rules were involved. Use this to find automation that has stopped running.
     *
     * A record appears once per FIRING, not once per attempt: if the platform retries a retryable failure, the same record's `attempts` count rises rather than a new record appearing. **If a retry later succeeds, the record is removed** — so this endpoint describes what is currently broken, not a permanent history. Records also expire 30 days after the firing first failed.
     *
     * `detail` is safe to surface to your own users: it carries only your own content (a script's own thrown message) or public API vocabulary, never platform internals. For `INTERNAL_ERROR` it is absent and a `correlationId` is returned instead — quote that to support.
     *
     * Scoped to your account and app context, derived from your token — never from input. Requires the `triggers:r` scope.
     *
     * @param {Vectros.ListTriggerFailuresRequest} request
     * @param {TriggersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.triggers.listTriggerFailures({
     *         ruleId: "3b1c9f2e7a5d8410f6c2e9a1b7d4038f5e6a91c2d7f0b3a4586c9e2f1d0a7b3c",
     *         category: "SCRIPT_ERROR",
     *         startFrom: "b3BhcXVlLWN1cnNvci1mcm9tLXRoZS1wcmV2aW91cy1wYWdl"
     *     })
     */
    public listTriggerFailures(
        request: Vectros.ListTriggerFailuresRequest = {},
        requestOptions?: TriggersClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.TriggerFailurePage> {
        return core.HttpResponsePromise.fromPromise(this.__listTriggerFailures(request, requestOptions));
    }

    private async __listTriggerFailures(
        request: Vectros.ListTriggerFailuresRequest = {},
        requestOptions?: TriggersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.TriggerFailurePage>> {
        const { ruleId, category, retryable, from: from_, to, startFrom, limit } = request;
        const _queryParams: Record<string, unknown> = {
            ruleId,
            category,
            retryable,
            from: from_,
            to,
            startFrom,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/trigger-failures",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.TriggerFailurePage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VectrosError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/trigger-failures");
    }

    /**
     * Returns a paginated list of your trigger rules, newest first. Results are returned as a `{data, nextCursor}` envelope — pass `nextCursor` as `startFrom` to fetch the next page. Requires the `triggers:r` scope.
     *
     * @param {Vectros.ListTriggersRequest} request
     * @param {TriggersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.triggers.listTriggers({
     *         startFrom: "b3BhcXVlLWN1cnNvci1mcm9tLXRoZS1wcmV2aW91cy1wYWdl"
     *     })
     */
    public listTriggers(
        request: Vectros.ListTriggersRequest = {},
        requestOptions?: TriggersClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.TriggerRulePage> {
        return core.HttpResponsePromise.fromPromise(this.__listTriggers(request, requestOptions));
    }

    private async __listTriggers(
        request: Vectros.ListTriggersRequest = {},
        requestOptions?: TriggersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.TriggerRulePage>> {
        const { startFrom, limit } = request;
        const _queryParams: Record<string, unknown> = {
            startFrom,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/triggers",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.TriggerRulePage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VectrosError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/triggers");
    }

    /**
     * Declares a new trigger rule, or (with `?upsert=true`) reconciles an existing one of the same name to the submitted shape. Once declared, the rule fires: a record write on the named schema dispatches the referenced script, which runs asynchronously under this rule's own grant. Because that grant is executed, a scoped credential may not declare a trigger whose grant exceeds its own — such a request is rejected with a `403`, and a `roleIds` entry that does not resolve in this context with a `400`. Requires the `triggers:c` scope (also `triggers:u` when `?upsert=true` matches an existing row).
     *
     * @param {Vectros.CreateTriggerRequest} request
     * @param {TriggersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.triggers.createTrigger({
     *         body: {
     *             name: "on-intake-create",
     *             firingSource: {
     *                 schemaId: "sch_9f8e7d6c",
     *                 event: "CREATE"
     *             },
     *             scriptRef: {
     *                 name: "notify-assignee",
     *                 version: "3"
     *             }
     *         }
     *     })
     */
    public createTrigger(
        request: Vectros.CreateTriggerRequest,
        requestOptions?: TriggersClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.TriggerRuleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createTrigger(request, requestOptions));
    }

    private async __createTrigger(
        request: Vectros.CreateTriggerRequest,
        requestOptions?: TriggersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.TriggerRuleResponse>> {
        const { upsert, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            upsert,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/triggers",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.TriggerRuleResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/triggers");
    }

    /**
     * Retrieves a single trigger rule by its ID. Requires the `triggers:r` scope.
     *
     * @param {Vectros.GetTriggerRequest} request
     * @param {TriggersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.triggers.getTrigger({
     *         id: "id"
     *     })
     */
    public getTrigger(
        request: Vectros.GetTriggerRequest,
        requestOptions?: TriggersClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.TriggerRuleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getTrigger(request, requestOptions));
    }

    private async __getTrigger(
        request: Vectros.GetTriggerRequest,
        requestOptions?: TriggersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.TriggerRuleResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/triggers/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.TriggerRuleResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/triggers/{id}");
    }

    /**
     * Updates an existing trigger rule in place. The rule's resulting grant must be within your own granted scope — including a grant you did not change, because a trigger's other fields (its `scriptRef`, its `principalId`) determine what that grant executes. `name`, `principalId` and `provisionedBy` are immutable once set. Requires the `triggers:u` scope.
     *
     * @param {Vectros.UpdateTriggerRequest} request
     * @param {TriggersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.triggers.updateTrigger({
     *         id: "id",
     *         body: {
     *             name: "on-intake-create",
     *             firingSource: {
     *                 schemaId: "sch_9f8e7d6c",
     *                 event: "CREATE"
     *             },
     *             scriptRef: {
     *                 name: "notify-assignee",
     *                 version: "3"
     *             }
     *         }
     *     })
     */
    public updateTrigger(
        request: Vectros.UpdateTriggerRequest,
        requestOptions?: TriggersClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.TriggerRuleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateTrigger(request, requestOptions));
    }

    private async __updateTrigger(
        request: Vectros.UpdateTriggerRequest,
        requestOptions?: TriggersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.TriggerRuleResponse>> {
        const { id, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/triggers/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.TriggerRuleResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/triggers/{id}");
    }

    /**
     * Permanently deletes one trigger rule by ID. Requires the `triggers:d` scope.
     *
     * @param {Vectros.DeleteTriggerRequest} request
     * @param {TriggersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.triggers.deleteTrigger({
     *         id: "id"
     *     })
     */
    public deleteTrigger(
        request: Vectros.DeleteTriggerRequest,
        requestOptions?: TriggersClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteTrigger(request, requestOptions));
    }

    private async __deleteTrigger(
        request: Vectros.DeleteTriggerRequest,
        requestOptions?: TriggersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/triggers/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/triggers/{id}");
    }
}
