// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vectros from "../../../index.js";

export declare namespace IdentityClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage users and namespaced identity entities
 */
export class IdentityClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IdentityClient.Options>;

    constructor(options: IdentityClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of entities in a namespace. Filter by `userId` (entities owned by a user), by `externalId` (exact lookup by your own identifier), or by `scope` (`scope=<namespace>:<value>` — entities that have that value as a parent, e.g. `scope=org:6ba7...`). Naming this namespace's own name in `scope` resolves the entity itself (`scope=team:6ba7...` on `/v1/entities/team` returns that team), since an entity is always in its own scope. `userId` and `scope` can be combined to narrow on both dimensions at once; `externalId` identifies a single entity and cannot be combined with either. Requires the `entities:r:<namespace>` scope.
     *
     * @param {Vectros.ListEntitiesRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.identity.listEntities({
     *         namespace: "team",
     *         contextId: "myapp",
     *         startFrom: "b3BhcXVlLWN1cnNvci1mcm9tLXRoZS1wcmV2aW91cy1wYWdl"
     *     })
     */
    public listEntities(
        request: Vectros.ListEntitiesRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.EntityPage> {
        return core.HttpResponsePromise.fromPromise(this.__listEntities(request, requestOptions));
    }

    private async __listEntities(
        request: Vectros.ListEntitiesRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.EntityPage>> {
        const {
            namespace,
            contextId,
            userId,
            externalId,
            scope,
            type: type_,
            field,
            value,
            from: from_,
            to,
            prefix,
            order,
            startFrom,
            limit,
        } = request;
        const _queryParams: Record<string, unknown> = {
            contextId,
            userId,
            externalId,
            scope,
            type: type_,
            field,
            value,
            from: from_,
            to,
            prefix,
            order: order != null ? order : undefined,
            startFrom,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/entities/${core.url.encodePathParam(namespace)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.EntityPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VectrosError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/entities/{namespace}");
    }

    /**
     * Creates a new entity in the given namespace. This call is idempotent on `externalId` within the namespace: if an entity with the same `externalId` already exists, the existing record is returned instead of creating a duplicate (`created: false`, HTTP 200). To overwrite an existing entity's content instead of returning it unchanged, set `?upsert=true` (also requires the `entities:u:<namespace>` scope). The namespace must be entity-backed (`org`/`client`, or registered via `POST /v1/namespaces`). Requires the `entities:c:<namespace>` scope to create. Being returned the existing entity on a collision is a read of that entity's data and additionally requires the `entities:r:<namespace>` scope — a credential holding `entities:c:<namespace>` alone receives a `400` ("already in use") on collision instead of the entity.
     *
     * @param {Vectros.CreateEntityRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.identity.createEntity({
     *         namespace: "team",
     *         contextId: "myapp",
     *         body: {
     *             externalId: "team_eng_platform"
     *         }
     *     })
     */
    public createEntity(
        request: Vectros.CreateEntityRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.EntityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createEntity(request, requestOptions));
    }

    private async __createEntity(
        request: Vectros.CreateEntityRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.EntityResponse>> {
        const { namespace, upsert, contextId, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            upsert,
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/entities/${core.url.encodePathParam(namespace)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.EntityResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/entities/{namespace}");
    }

    /**
     * Retrieves a single entity by its namespace and Vectros-assigned ID. Requires the `entities:r:<namespace>` scope.
     *
     * @param {Vectros.GetEntityRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.identity.getEntity({
     *         namespace: "team",
     *         id: "6ba7b810-9dad-11d1-80b4-00c04fd430c8",
     *         contextId: "myapp"
     *     })
     */
    public getEntity(
        request: Vectros.GetEntityRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.EntityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEntity(request, requestOptions));
    }

    private async __getEntity(
        request: Vectros.GetEntityRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.EntityResponse>> {
        const { namespace, id, contextId } = request;
        const _queryParams: Record<string, unknown> = {
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/entities/${core.url.encodePathParam(namespace)}/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.EntityResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/entities/{namespace}/{id}");
    }

    /**
     * Updates the mutable fields of an entity. Omitted fields are preserved (a null value does not clear a field), and the `payload` object is replaced in full when supplied. Providing `scopes` replaces the entity's parent edges. Requires the `entities:u:<namespace>` scope.
     *
     * @param {Vectros.UpdateEntityRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.identity.updateEntity({
     *         namespace: "team",
     *         id: "id",
     *         contextId: "myapp",
     *         body: {
     *             externalId: "team_eng_platform"
     *         }
     *     })
     */
    public updateEntity(
        request: Vectros.UpdateEntityRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.EntityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateEntity(request, requestOptions));
    }

    private async __updateEntity(
        request: Vectros.UpdateEntityRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.EntityResponse>> {
        const { namespace, id, contextId, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/entities/${core.url.encodePathParam(namespace)}/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.EntityResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/entities/{namespace}/{id}");
    }

    /**
     * Permanently deletes an entity. This action cannot be undone. Requires the `entities:d:<namespace>` scope.
     *
     * @param {Vectros.DeleteEntityRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.identity.deleteEntity({
     *         namespace: "team",
     *         id: "id",
     *         contextId: "myapp"
     *     })
     */
    public deleteEntity(
        request: Vectros.DeleteEntityRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteEntity(request, requestOptions));
    }

    private async __deleteEntity(
        request: Vectros.DeleteEntityRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { namespace, id, contextId } = request;
        const _queryParams: Record<string, unknown> = {
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/entities/${core.url.encodePathParam(namespace)}/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/entities/{namespace}/{id}",
        );
    }

    /**
     * Looks up entities in a namespace by a schema-declared field value, with the criteria in the request body instead of the URL. Use this for a sensitive field: the value travels in the body and never appears in the URL. Body equivalent of the `type`/`field`/`value` lookup on `GET /v1/entities/{namespace}`, which rejects sensitive-field values and directs you here. Requires the `entities:r:<namespace>` scope.
     *
     * @param {Vectros.LookupEntitiesRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.identity.lookupEntities({
     *         namespace: "team",
     *         contextId: "myapp",
     *         body: {
     *             type: "person_v1",
     *             field: "ssn"
     *         }
     *     })
     */
    public lookupEntities(
        request: Vectros.LookupEntitiesRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.EntityPage> {
        return core.HttpResponsePromise.fromPromise(this.__lookupEntities(request, requestOptions));
    }

    private async __lookupEntities(
        request: Vectros.LookupEntitiesRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.EntityPage>> {
        const { namespace, contextId, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/entities/${core.url.encodePathParam(namespace)}/lookup`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.EntityPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/entities/{namespace}/lookup",
        );
    }

    /**
     * Returns the audit trail of changes made to an entity, newest first. Sensitive field values are redacted in the history. Requires the `entities:r:<namespace>` scope.
     *
     * @param {Vectros.GetEntityVersionsRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.identity.getEntityVersions({
     *         namespace: "team",
     *         id: "id",
     *         contextId: "myapp"
     *     })
     */
    public getEntityVersions(
        request: Vectros.GetEntityVersionsRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ModelDataVersionPage> {
        return core.HttpResponsePromise.fromPromise(this.__getEntityVersions(request, requestOptions));
    }

    private async __getEntityVersions(
        request: Vectros.GetEntityVersionsRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ModelDataVersionPage>> {
        const { namespace, id, contextId, startFrom } = request;
        const _queryParams: Record<string, unknown> = {
            contextId,
            startFrom,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/entities/${core.url.encodePathParam(namespace)}/${core.url.encodePathParam(id)}/versions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ModelDataVersionPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/entities/{namespace}/{id}/versions",
        );
    }

    /**
     * Retrieves a single scope-namespace registration by name.
     *
     * @param {Vectros.GetNamespaceRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.identity.getNamespace({
     *         namespace: "team"
     *     })
     */
    public getNamespace(
        request: Vectros.GetNamespaceRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.NamespaceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getNamespace(request, requestOptions));
    }

    private async __getNamespace(
        request: Vectros.GetNamespaceRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.NamespaceResponse>> {
        const { namespace, contextId } = request;
        const _queryParams: Record<string, unknown> = {
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/namespaces/${core.url.encodePathParam(namespace)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.NamespaceResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/namespaces/{namespace}");
    }

    /**
     * Updates the mutable fields (`entityBacked`, `defaultSchemaId`, `specificityRank`) of a registered namespace. The namespace name and its `contextId` (which row is selected) are both immutable. Requires a root API key. `org` and `client` are updatable like any other namespace — there is no reserved-built-in exception.
     *
     * @param {Vectros.UpdateNamespaceRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.identity.updateNamespace({
     *         namespace: "team",
     *         body: {
     *             namespace: "team",
     *             specificityRank: 1500
     *         }
     *     })
     */
    public updateNamespace(
        request: Vectros.UpdateNamespaceRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.NamespaceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateNamespace(request, requestOptions));
    }

    private async __updateNamespace(
        request: Vectros.UpdateNamespaceRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.NamespaceResponse>> {
        const { namespace, contextId, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/namespaces/${core.url.encodePathParam(namespace)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.NamespaceResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/namespaces/{namespace}");
    }

    /**
     * Deletes a registered scope namespace. Requires a root API key. `org` and `client` are deletable like any other namespace — there is no reserved-built-in exception. A namespace that still has entities cannot be deleted (409) — delete its entities first; this keeps them reachable by the account-teardown and erasure sweeps.
     *
     * @param {Vectros.DeleteNamespaceRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.identity.deleteNamespace({
     *         namespace: "team"
     *     })
     */
    public deleteNamespace(
        request: Vectros.DeleteNamespaceRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteNamespace(request, requestOptions));
    }

    private async __deleteNamespace(
        request: Vectros.DeleteNamespaceRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { namespace, contextId } = request;
        const _queryParams: Record<string, unknown> = {
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/namespaces/${core.url.encodePathParam(namespace)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/namespaces/{namespace}");
    }

    /**
     * Returns the scope namespaces registered in your account. Returns a `{data, nextCursor}` envelope.
     *
     * @param {Vectros.ListNamespacesRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.identity.listNamespaces()
     */
    public listNamespaces(
        request: Vectros.ListNamespacesRequest = {},
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.NamespacePage> {
        return core.HttpResponsePromise.fromPromise(this.__listNamespaces(request, requestOptions));
    }

    private async __listNamespaces(
        request: Vectros.ListNamespacesRequest = {},
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.NamespacePage>> {
        const { startFrom, limit, contextId } = request;
        const _queryParams: Record<string, unknown> = {
            startFrom,
            limit,
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/namespaces",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.NamespacePage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VectrosError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/namespaces");
    }

    /**
     * Registers a new scope namespace and declares whether its values resolve to identity entities (`entityBacked`). Also requires `specificityRank`, an explicit, account-unique position in the specificity order used to break recordType schema-resolution ties. Requires a root API key or the CLI bootstrap's provisioning capability — never an ordinary partner-grantable scope. `org` and `client` are reserved names, registered the same way as any other namespace.
     *
     * @param {Vectros.RegisterNamespaceRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.identity.registerNamespace({
     *         body: {
     *             namespace: "team",
     *             specificityRank: 1500
     *         }
     *     })
     */
    public registerNamespace(
        request: Vectros.RegisterNamespaceRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.NamespaceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__registerNamespace(request, requestOptions));
    }

    private async __registerNamespace(
        request: Vectros.RegisterNamespaceRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.NamespaceResponse>> {
        const { contextId, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/namespaces",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.NamespaceResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/namespaces");
    }

    /**
     * Returns a paginated list of the users in your account. Pass `externalId` to look up a single user by your own identifier. To filter on schema-declared lookup fields, supply `type` and `field` together with one lookup mode: `value` (exact match), `from`+`to` (range), or `prefix`. Requires the `users:r` scope. A context-confined credential only sees users who hold an access profile in the credential's own app context — others are silently absent from the page, not an error.
     *
     * @param {Vectros.ListUsersRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.identity.listUsers({
     *         externalId: "usr_12345",
     *         startFrom: "b3BhcXVlLWN1cnNvci1mcm9tLXRoZS1wcmV2aW91cy1wYWdl",
     *         type: "person_v1",
     *         field: "team",
     *         value: "engineering",
     *         prefix: "eng"
     *     })
     */
    public listUsers(
        request: Vectros.ListUsersRequest = {},
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.UserPage> {
        return core.HttpResponsePromise.fromPromise(this.__listUsers(request, requestOptions));
    }

    private async __listUsers(
        request: Vectros.ListUsersRequest = {},
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.UserPage>> {
        const { externalId, startFrom, limit, type: type_, field, value, from: from_, to, prefix, order } = request;
        const _queryParams: Record<string, unknown> = {
            externalId,
            startFrom,
            limit,
            type: type_,
            field,
            value,
            from: from_,
            to,
            prefix,
            order: order != null ? order : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/users",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.UserPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VectrosError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/users");
    }

    /**
     * Creates a user identity in your account. The operation is idempotent on `externalId`: if a user with the same `externalId` already exists, the existing record is returned instead of creating a duplicate. The response's `created` field (and the HTTP status — 201 when created, 200 when an existing user was returned) tells the two apart. To overwrite an existing user's mutable fields (email, status, payload, schema binding) instead of returning it unchanged, set `?upsert=true` (this also requires the `users:u` scope). Requires the `users:c` scope to create. Being returned the existing user on a collision is a read of that user's data and additionally requires the `users:r` scope — a credential holding `users:c` alone receives a `400` ("already exists") on collision instead of the user.
     *
     * @param {Vectros.CreateUserRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.identity.createUser({
     *         body: {
     *             externalId: "usr_12345"
     *         }
     *     })
     */
    public createUser(
        request: Vectros.CreateUserRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.UserResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createUser(request, requestOptions));
    }

    private async __createUser(
        request: Vectros.CreateUserRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.UserResponse>> {
        const { upsert, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            upsert,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/users",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.UserResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/users");
    }

    /**
     * Retrieves a single user by its Vectros-assigned ID. Requires the `users:r` scope.
     *
     * @param {Vectros.GetUserRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.identity.getUser({
     *         id: "550e8400-e29b-41d4-a716-446655440000"
     *     })
     */
    public getUser(
        request: Vectros.GetUserRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.UserResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getUser(request, requestOptions));
    }

    private async __getUser(
        request: Vectros.GetUserRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.UserResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/users/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.UserResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/users/{id}");
    }

    /**
     * Updates mutable fields on an existing user (such as email, status, payload, or schema binding). The `type` field is immutable after creation, and `email` cannot be changed while an invitation to that user is still outstanding — revoke the invitation, or invite the new address instead. This endpoint also activates an invited user: a PUT that moves a PENDING user to ACTIVE and carries `inviteToken`, `externalSubject`, and `emailVerifiedAttestation=true` completes the invitation. Requires the `users:u` scope.
     *
     * @param {Vectros.UpdateUserRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.identity.updateUser({
     *         id: "550e8400-e29b-41d4-a716-446655440000",
     *         body: {
     *             externalId: "usr_12345"
     *         }
     *     })
     */
    public updateUser(
        request: Vectros.UpdateUserRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.UserResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateUser(request, requestOptions));
    }

    private async __updateUser(
        request: Vectros.UpdateUserRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.UserResponse>> {
        const { id, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/users/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.UserResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/users/{id}");
    }

    /**
     * Permanently deletes a user identity. This cannot be undone. If the user is a pending invitation, the associated access profile created for that invitation is also removed. Requires the `users:d` scope. Deleting your account's last OWNER is refused (409) — an account must always retain at least one owner. Called by a context-confined credential, deletion is also refused (409) when the user holds access in an app context other than the caller's own — remove the user from the caller's own context first, or use a credential with cross-context reach.
     *
     * @param {Vectros.DeleteUserRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.ConflictError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.identity.deleteUser({
     *         id: "550e8400-e29b-41d4-a716-446655440000"
     *     })
     */
    public deleteUser(
        request: Vectros.DeleteUserRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteUser(request, requestOptions));
    }

    private async __deleteUser(
        request: Vectros.DeleteUserRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/users/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Vectros.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/users/{id}");
    }

    /**
     * Looks up users by a schema lookup field, with the query criteria carried in the request body rather than the URL. Use this when looking up by a sensitive (blind-indexed) field: the value is blind-indexed server-side and never appears in the URL, request logs, or proxies. The query semantics are identical to the GET /v1/users lookup, which rejects sensitive-field values and directs you here. Returns a page in the `{data, nextCursor}` envelope. Requires the `users:r` scope. A context-confined credential only sees users who hold an access profile in the credential's own app context — others are silently absent from the page, not an error.
     *
     * @param {Vectros.IdentityLookupRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.identity.lookupUsers({
     *         type: "person_v1",
     *         field: "ssn"
     *     })
     */
    public lookupUsers(
        request: Vectros.IdentityLookupRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.UserPage> {
        return core.HttpResponsePromise.fromPromise(this.__lookupUsers(request, requestOptions));
    }

    private async __lookupUsers(
        request: Vectros.IdentityLookupRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.UserPage>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/users/lookup",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.UserPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/users/lookup");
    }

    /**
     * Answers "does a user with this email hold an ACTIVE access profile in this app context" — a narrow existence check, not a general lookup. `exists` is false for a member whose access to this context has been suspended, not only for a member who was never granted it. The answer is scoped to the `contextId` you supply: it does not reveal whether the email exists elsewhere in your tenant or account, only whether it belongs to an active member of the named context. Returns `{exists, userId, status}` — never the full user record — so a caller asking "does X exist" cannot receive that user's payload/schema binding/etc. as a side effect. Useful for resolving an email you were handed (for example, by an org-admin adding an existing member to another org) to a `userId`, without paging through the full context membership. Requires the `users:r` scope.
     *
     * @param {Vectros.UserExistsByEmailRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     *
     * @example
     *     await client.identity.userExistsByEmail({
     *         email: "user@example.com",
     *         contextId: "myapp"
     *     })
     */
    public userExistsByEmail(
        request: Vectros.UserExistsByEmailRequest = {},
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.UserExistsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__userExistsByEmail(request, requestOptions));
    }

    private async __userExistsByEmail(
        request: Vectros.UserExistsByEmailRequest = {},
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.UserExistsResponse>> {
        const { email, contextId } = request;
        const _queryParams: Record<string, unknown> = {
            email,
            contextId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/users/exists-by-email",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.UserExistsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/users/exists-by-email");
    }

    /**
     * Returns the audit trail of changes to a user, most recent first. Identity history is always recorded and always available. Sensitive field values are redacted in every historical version. Returns a page in the `{data, nextCursor}` envelope. Requires the `users:r` scope.
     *
     * @param {Vectros.GetUserVersionsRequest} request
     * @param {IdentityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.identity.getUserVersions({
     *         id: "id"
     *     })
     */
    public getUserVersions(
        request: Vectros.GetUserVersionsRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ModelDataVersionPage> {
        return core.HttpResponsePromise.fromPromise(this.__getUserVersions(request, requestOptions));
    }

    private async __getUserVersions(
        request: Vectros.GetUserVersionsRequest,
        requestOptions?: IdentityClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ModelDataVersionPage>> {
        const { id, startFrom } = request;
        const _queryParams: Record<string, unknown> = {
            startFrom,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/users/${core.url.encodePathParam(id)}/versions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ModelDataVersionPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/users/{id}/versions");
    }
}
