// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vectros from "../../../index.js";

export declare namespace DocumentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Ingest text and file documents for indexing and retrieval
 */
export class DocumentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DocumentsClient.Options>;

    constructor(options: DocumentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of your documents, optionally filtered by folder (`folderId`) and/or owner (`userId`, `orgId`, or `clientId`). The response is a `{data, nextCursor}` envelope; pass `nextCursor` back as `startFrom` to fetch the next page. Requires the `documents:r` scope.
     *
     * @param {Vectros.ListDocumentsRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documents.listDocuments({
     *         userId: "550e8400-e29b-41d4-a716-446655440000",
     *         orgId: "6ba7b810-9dad-11d1-80b4-00c04fd430c8",
     *         clientId: "f47ac10b-58cc-4372-a567-0e02b2c3d479",
     *         folderId: "f47ac10b-58cc-4372-a567-0e02b2c3d479",
     *         startFrom: "doc_prev123"
     *     })
     */
    public listDocuments(
        request: Vectros.ListDocumentsRequest = {},
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.DocumentPage> {
        return core.HttpResponsePromise.fromPromise(this.__listDocuments(request, requestOptions));
    }

    private async __listDocuments(
        request: Vectros.ListDocumentsRequest = {},
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.DocumentPage>> {
        const { userId, orgId, clientId, folderId, startFrom, limit } = request;
        const _queryParams: Record<string, unknown> = {
            userId,
            orgId,
            clientId,
            folderId,
            startFrom,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/documents",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.DocumentPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VectrosError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/documents");
    }

    /**
     * Creates a document from a raw text string and queues it for asynchronous indexing so it becomes searchable. Requires the `documents:c` scope.
     *
     * @param {Vectros.DocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.documents.ingestDocument({
     *         title: "Patient Intake Form \u2014 Jane Doe"
     *     })
     */
    public ingestDocument(
        request: Vectros.DocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.DocumentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ingestDocument(request, requestOptions));
    }

    private async __ingestDocument(
        request: Vectros.DocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.DocumentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/documents",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.DocumentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/documents");
    }

    /**
     * Returns a single document by its ID, including its full structured payload. Requires the `documents:r` scope.
     *
     * @param {Vectros.GetDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.documents.getDocument({
     *         id: "id"
     *     })
     */
    public getDocument(
        request: Vectros.GetDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.DocumentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDocument(request, requestOptions));
    }

    private async __getDocument(
        request: Vectros.GetDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.DocumentResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/documents/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.DocumentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/documents/{id}");
    }

    /**
     * Replaces the mutable fields of a document. This is a full replacement of the payload — to merge fields instead, use PATCH. If you supply new `text`, the document body is re-ingested and re-queued for indexing. Requires the `documents:u` scope.
     *
     * @param {Vectros.UpdateDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.ConflictError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.documents.updateDocument({
     *         id: "id",
     *         body: {
     *             title: "Patient Intake Form \u2014 Jane Doe"
     *         }
     *     })
     */
    public updateDocument(
        request: Vectros.UpdateDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.DocumentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateDocument(request, requestOptions));
    }

    private async __updateDocument(
        request: Vectros.UpdateDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.DocumentResponse>> {
        const { id, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/documents/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.DocumentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Vectros.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/documents/{id}");
    }

    /**
     * Permanently deletes the document and removes it from the search index. This cannot be undone. Requires the `documents:d` scope.
     *
     * @param {Vectros.DeleteDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.documents.deleteDocument({
     *         id: "id"
     *     })
     */
    public deleteDocument(
        request: Vectros.DeleteDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteDocument(request, requestOptions));
    }

    private async __deleteDocument(
        request: Vectros.DeleteDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/documents/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/documents/{id}");
    }

    /**
     * Partially updates a document using an RFC 7386 JSON Merge Patch. The `payload` object is deep-merged: keys you send overwrite existing values (recursing into nested objects), a key set to `null` is deleted, and keys you omit are preserved — unlike PUT, which replaces the whole payload. Top-level fields (`title`, `storeText`, `folderId`, `schemaId`, ownership) are set when present and left unchanged when omitted; sending a top-level field as `null` is rejected. Supplying `text` re-ingests the document body (same as PUT). `indexMode` and `externalId` are immutable and rejected if present. The merged result is validated against the bound schema. Pass `expectedVersion` for optimistic concurrency (409 on conflict). Requires the `documents:u` scope.
     *
     * @param {Vectros.PatchDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.NotFoundError}
     * @throws {@link Vectros.ConflictError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.documents.patchDocument({
     *         id: "id",
     *         body: {
     *             title: "Patient Intake Form \u2014 Jane Doe"
     *         }
     *     })
     */
    public patchDocument(
        request: Vectros.PatchDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.DocumentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__patchDocument(request, requestOptions));
    }

    private async __patchDocument(
        request: Vectros.PatchDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.DocumentResponse>> {
        const { id, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/documents/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.DocumentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Vectros.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/documents/{id}");
    }

    /**
     * Finds documents of a given type by a schema-declared lookup field. The document must be bound to a schema (via `schemaId`) that declares the field as a lookup field. A lookup on a sensitive field is rejected here, because the value would appear in the URL query string; use POST /v1/documents/lookup (the request-body variant) for a sensitive field instead. Results are paginated: set `limit` for the page size and feed the returned `nextCursor` back as `startFrom` to fetch the next page. The response is a `{data, nextCursor}` envelope. Requires the `documents:r` scope.
     *
     * @param {Vectros.LookupDocumentsRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documents.lookupDocuments({
     *         type: "invoice",
     *         field: "po_number",
     *         value: "PO-1001",
     *         prefix: "PO-2024",
     *         startFrom: "550e8400-e29b-41d4-a716-446655440000"
     *     })
     */
    public lookupDocuments(
        request: Vectros.LookupDocumentsRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.DocumentLookupPage> {
        return core.HttpResponsePromise.fromPromise(this.__lookupDocuments(request, requestOptions));
    }

    private async __lookupDocuments(
        request: Vectros.LookupDocumentsRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.DocumentLookupPage>> {
        const { type: type_, field, value, from: from_, to, prefix, startFrom, limit, order } = request;
        const _queryParams: Record<string, unknown> = {
            type: type_,
            field,
            value,
            from: from_,
            to,
            prefix,
            startFrom,
            limit,
            order: order != null ? order : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/documents/lookup",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.DocumentLookupPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VectrosError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/documents/lookup");
    }

    /**
     * Request-body equivalent of GET /v1/documents/lookup. Use this when looking up by a sensitive field: the value travels in the request body (and is blind-indexed server-side) instead of the URL query string, so it never lands in access, CDN, or proxy logs. The GET variant rejects `value` for a sensitive field and directs you here. Requires the `documents:r` scope.
     *
     * @param {Vectros.DocumentLookupRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.documents.lookupDocumentsByBody({
     *         type: "invoice",
     *         field: "mrn"
     *     })
     */
    public lookupDocumentsByBody(
        request: Vectros.DocumentLookupRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.DocumentLookupPage> {
        return core.HttpResponsePromise.fromPromise(this.__lookupDocumentsByBody(request, requestOptions));
    }

    private async __lookupDocumentsByBody(
        request: Vectros.DocumentLookupRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.DocumentLookupPage>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/documents/lookup",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.DocumentLookupPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/documents/lookup");
    }

    /**
     * Returns a short-lived presigned S3 GET URL for the original uploaded file. Only available for file-backed documents (created via POST /v1/documents/upload); text-only documents return 400. Requires the `documents:r` scope.
     *
     * @param {Vectros.GetDocumentDownloadUrlRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.documents.getDocumentDownloadUrl({
     *         id: "id"
     *     })
     */
    public getDocumentDownloadUrl(
        request: Vectros.GetDocumentDownloadUrlRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.DocumentDownloadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDocumentDownloadUrl(request, requestOptions));
    }

    private async __getDocumentDownloadUrl(
        request: Vectros.GetDocumentDownloadUrlRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.DocumentDownloadResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/documents/${core.url.encodePathParam(id)}/download`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.DocumentDownloadResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/documents/{id}/download");
    }

    /**
     * Returns the full extracted or ingested text body for documents that were stored with `storeText=true`. Returns 404 when the document does not exist or when no text is available (because `storeText` was false, or extraction has not yet completed). Requires the `documents:r` scope.
     *
     * @param {Vectros.GetDocumentTextRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.documents.getDocumentText({
     *         id: "id"
     *     })
     */
    public getDocumentText(
        request: Vectros.GetDocumentTextRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.DocumentTextResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDocumentText(request, requestOptions));
    }

    private async __getDocumentText(
        request: Vectros.GetDocumentTextRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.DocumentTextResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/documents/${core.url.encodePathParam(id)}/text`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.DocumentTextResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/documents/{id}/text");
    }

    /**
     * Returns the audit trail of changes (CREATE, UPDATE, DELETE) for a document. History is recorded only for documents bound to a schema that has audit history enabled (the default for typed documents); untyped documents have no version history. The response is a `{data, nextCursor}` envelope. Requires the `documents:r` scope.
     *
     * @param {Vectros.GetDocumentVersionsRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.NotFoundError}
     *
     * @example
     *     await client.documents.getDocumentVersions({
     *         id: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
     *     })
     */
    public getDocumentVersions(
        request: Vectros.GetDocumentVersionsRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.ModelDataVersionPage> {
        return core.HttpResponsePromise.fromPromise(this.__getDocumentVersions(request, requestOptions));
    }

    private async __getDocumentVersions(
        request: Vectros.GetDocumentVersionsRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.ModelDataVersionPage>> {
        const { id, startFrom } = request;
        const _queryParams: Record<string, unknown> = {
            startFrom,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/documents/${core.url.encodePathParam(id)}/versions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.ModelDataVersionPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vectros.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/documents/{id}/versions");
    }

    /**
     * Starts a file-based document by returning a short-lived presigned S3 PUT URL. Upload the file bytes directly to `uploadUrl`; the document is then automatically queued for text extraction and asynchronous indexing. Requires the `documents:c` scope.
     *
     * @param {Vectros.FileUploadRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.documents.uploadDocument({
     *         fileName: "patient_intake_2024_01_15.pdf",
     *         fileType: "application/pdf"
     *     })
     */
    public uploadDocument(
        request: Vectros.FileUploadRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.FileUploadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__uploadDocument(request, requestOptions));
    }

    private async __uploadDocument(
        request: Vectros.FileUploadRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.FileUploadResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/documents/upload",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.FileUploadResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/documents/upload");
    }
}
