// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vectros from "../../../index.js";

export declare namespace SearchClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Hybrid BM25 + semantic search across all indexed content
 */
export class SearchClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SearchClient.Options>;

    constructor(options: SearchClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Runs a hybrid, semantic, or text search across the content you have indexed. By default it returns both documents and records in a single unified result set; pass `contentTypes` to narrow the results (for example `["documents"]`). Each result carries a `sourceType` discriminator (`PartnerDocument` or `GenericRecord`) so you can branch on the type. Requires the `search:r` scope.
     *
     * @param {Vectros.SearchRequest} request
     * @param {SearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vectros.BadRequestError}
     * @throws {@link Vectros.ForbiddenError}
     * @throws {@link Vectros.TooManyRequestsError}
     *
     * @example
     *     await client.search.content({
     *         query: "patient intake form diabetes"
     *     })
     */
    public content(
        request: Vectros.SearchRequest,
        requestOptions?: SearchClient.RequestOptions,
    ): core.HttpResponsePromise<Vectros.SearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__content(request, requestOptions));
    }

    private async __content(
        request: Vectros.SearchRequest,
        requestOptions?: SearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vectros.SearchResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/search",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vectros.SearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vectros.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vectros.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vectros.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VectrosError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/search");
    }
}
